In [6]:
#import pacakages
import pandas as pd

In [7]:
#reading the csvs into dataframe
users=pd.read_csv("users.csv")
ul = pd.read_csv("users-likes.csv")
likes = pd.read_csv("likes.csv")

In [8]:
users.head()

,userid,gender,age,political,ope,con,ext,agr,neu
0,54f34605aebd63f7680e37ffd299af79,0,33,0.0,1.26,1.65,1.17,-1.76,0.61
1,86399f8c44ba54224b2e60177ca89fa9,1,35,0.0,1.07,0.17,-0.14,1.49,0.30
2,84fab50f3c60d1fdc83aa91b5e584a78,1,36,0.0,0.89,1.28,0.86,1.07,0.99
3,f3b8fdaccce12ef6352bfad4d6052fe9,0,39,NaN,0.33,-1.01,-0.33,-0.68,0.92
4,8b06ea5e9cb87c61da387995450607f7,0,31,NaN,0.15,0.47,1.17,-1.01,-0.32

In [9]:
ul.head()

                             userid                            likeid
0  71bc7c0901488aec6d30f0add257e7c5  3c1636c878e6eb2acfd00c6b61086e38
1  978ab8e90c4d6ad1a48ef5c973b62f4d  feca46ddb8ef04f86172ace0cb7e004c
2  85123b0e358907725cf19a2cb0ec3983  b65f46d64c688fe98bdbcf93a76a71fc
3  ce110562b3e2f7e5cad3775b32d9caa5  b65f46d64c688fe98bdbcf93a76a71fc
4  8188d20745471273fa69ba44a5b28473  b65f46d64c688fe98bdbcf93a76a71fc

In [10]:
likes.head()

,likeid,name
0,3c1636c878e6eb2acfd00c6b61086e38,REIGN by Paul Gibson
1,feca46ddb8ef04f86172ace0cb7e004c,Cupcake Wishes & Birthday Dreams
2,b65f46d64c688fe98bdbcf93a76a71fc,Yo también me rei de la caída de otro jejeje
3,9c5c8bb82d2cd46fbd7582f944fe370e,Abraham Joshua Heschel Day School- Alumni Network
4,2d82fa84ad79b085dc516dde154327a2,Kennesaw Farmer's Market

In [22]:
ul_user = match(ul.userid,users.userid)
ul_like = match(ul.likeid,likes.likeid)

In [21]:
match = lambda a, b: [ b.index(str(x)) if x in b else None for x in a ]
match

In [1]:
from pyensae.languages import r2python

ModuleNotFoundError: No module named 'antlr4'

In [2]:
pip install antlr4

ERROR: Could not find a version that satisfies the requirement antlr4
ERROR: No matching distribution found for antlr4
Note: you may need to restart the kernel to use updated packages.

In [18]:
ul_user = match(ul.loc[:,"userid"],users.loc[:,"userid"])
ul_like = match(ul.loc[:,"likeid"],likes.loc[:,"likeid"])

In [7]:
a=ul["userid"]
b=users["userid"]
ind=[]

for i in a:
    if i in b:
        ind.append(b.index(i))
    else:
        ind.append("None")

In [10]:
print(ind[0:10])

['None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None']

In [24]:
print(ul_user[0:100])

[None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None]

In [25]:
print(ul_like[0:100])

[None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None]